:root {
    --primary-color: #0ea5e9;
    --secondary-color: #bae6fd;
}

html {

    background: url("trianglify-lowres.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h1 {
    text-align: center;
    margin: 1rem auto;
    padding: 1rem 1rem;
    color: rgb(3, 5, 97);
    box-shadow: white -5px -5px 10px,
       black 5px 5px 10px;
    border-radius: 2rem;


}

h1:hover {
    border-radius: 2rem;
    box-shadow: var(--secondary-color) 5px 5px 13px,
      black  inset 5px 5px 10px;
      
}

#input-text,#output-text {
    margin: auto;
    padding: 3rem 6rem;
    display: block;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    box-shadow: inset rgb(255, 241, 241) -5px -5px 10px,
        inset 5px 5px 10px;
    border-color: white;
}

.btn-translate {
    padding: 0.5rem 1rem;
    display: block;
    margin: 1.5rem auto;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    border-color: #bae6fd;
    box-shadow: var(--secondary-color) -5px -5px 10px,
       black 5px 5px 10px;

}

.btn-translate:active {
    box-shadow: inset black 5px 5px 10px,
        inset var(--secondary-color) -5px -5px 10px;
}



@media screen and (max-width: 480px) {
   h1{
    box-shadow: none;
    border: none;
    margin: 1rem 0.5rem;
    text-align:left;
    font-size: 1.5rem;
   }
   .btn-translate{
    margin: 1.3rem 0.5rem 1.3rem 0;
   }
   #output-text, #input-text{
    margin-left: 0.5rem;
    padding: 1.5rem 2rem 1rem 2rem;
    
   }
    
}